version: "3.9"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: validator
      POSTGRES_PASSWORD: val1dat0r
      POSTGRES_DB: project-sem-1
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
